.gallery-event {
  padding: 20px 40px;
  .gallery-list-event {
    width: 100%;
    h1 {
      text-align: center;
      color: var(--color);
    }
    .gallery-list-box {
      margin-top: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
      flex-wrap: wrap;
      .gallery-card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px 30px;
        background-color: var(--light);
        border-radius: 10px;
        gap: 10px;
        box-shadow: 0 0 10px var(--shadow);
        transition: 0.3s ease-in-out;
        &:hover {
          box-shadow: 10px 10px 10px var(--shadow);
          transform: translate(0, -10px);
        }
        .gallery-details {
          display: flex;
          gap: 10px;
        }
        img {
          width: 100px;
          height: 80px;
          object-fit: cover;
          border-radius: 6px;
        }
        .content {
          display: flex;
          flex-direction: column;
          .title {
            font-size: 19px;
            font-weight: 600;
            color: var(--color);
          }
          .images,
          .videos {
            color: var(--gray);
            text-transform: capitalize;
            b {
              margin-left: 10px;
            }
          }
        }
        button {
          background-color: var(--purple);
          color: var(--light);
          width: 100%;
          padding: 10px;
          font-size: 15px;
        }
      }
    }
  }
  .gallery-list-media {
    color: var(--color);
    .media-type {
      display: flex;
      border-radius: 10px;
      overflow: hidden;
      margin-top: 30px;
      span {
        width: 50%;
        background-color: var(--shadow);
        padding: 5px 10px;
        border-right: 1px solid var(--gray);
        text-align: center;
        text-transform: capitalize;
        transition: 0.3s ease-in-out;
        cursor: pointer;
        &:nth-child(2) {
          border: none;
        }
      }
      .active {
        background-color: var(--border-light);
      }
    }
    .list-of-medias {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 30px;
      margin-top: 50px;
      .list-gallery {
        padding: 20px;
        background-color: var(--light);
        border-radius: 10px;
        box-shadow: 0 0 10px var(--shadow);
        transition: 0.3s ease-in-out;
        position: relative;
        &:hover {
          box-shadow: 10px 10px 10px var(--shadow);
          transform: translate(0, -10px);
        }

        img {
          width: 200px;
          height: 200px;
          object-fit: cover;
        }
        .delete {
          position: absolute;
          bottom: 0;
          right: 0;
          background-image: linear-gradient(180deg, transparent, var(--dark));
          border-radius: 10px;
          width: 100%;
          height: 150px;
          text-align: right;
          padding: 5px 10px;
          display: none;
          flex-direction: column;
          align-items: end;
          justify-content: end;
          opacity: 0;

          i,
          span {
            color: var(--light);
            display: block;
            width: fit-content;
          }
          i {
            font-size: 25px;
            margin-right: 7px;
            transition: 0.3s ease-in-out;
            cursor: pointer;
            &:hover {
              color: var(--red);
              transform: scale(1.1);
            }
          }
        }
        &:hover .delete {
          animation: galdlt 0.3s ease-in-out forwards;
          display: flex;
        }
        @keyframes galdlt {
          100% {
            opacity: 1;
          }
        }
      }
    }
  }
}
